.skipButton {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-background-color: #5e3b1e;
    -fx-text-fill: #f8e4c9;
    -fx-border-radius: 5px;
    -fx-padding: 4px 12px;
    -fx-effect: dropshadow(three-pass-box, rgba(50, 25, 10, 0.8), 5, 0, 0, 2);
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 5px;
    -fx-text-alignment: center;
    -fx-border-color: #a67c52;
    -fx-border-width: 1px;
    -fx-margin: 10px 10px 0 0;
}

.skipButton:hover {
    -fx-background-color: #7a5230;
    -fx-effect: dropshadow(three-pass-box, rgba(70, 35, 15, 0.9), 6, 0, 0, 3);
}

.skipButton:pressed {
    -fx-translate-y: 2px;
    -fx-effect: dropshadow(three-pass-box, rgba(50, 25, 10, 0.8), 3, 0, 0, 1);
    -fx-background-color: #4a2a15;
}