.product-card {
    -fx-background-color: #ffffff;
    -fx-padding: 12px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.08), 8, 0, 0, 2);
    -fx-background-radius: 10px;
    -fx-min-width: 160px;
    -fx-max-width: 160px;
    -fx-min-height: 220px;
    -fx-cursor: hand;
    -fx-spacing: 8px;
    -fx-alignment: center;
}

.product-card:hover {
    -fx-effect: dropshadow(three-pass-box, rgba(111, 78, 55, 0.2), 12, 0, 0, 2);
    -fx-translate-y: -2px;
    -fx-background-color: #fcfcfc;
}

.product-image {
    -fx-border-color: #6F4E37;
    -fx-border-width: 1.5px;
    -fx-border-radius: 5px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.08), 4, 0, 0, 1);
}

.product-info {
    -fx-padding: 4px;
}

.label-title {
    -fx-text-fill: #6F4E37;
    -fx-font-weight: bold;
    -fx-font-size: 12px;
}

.product-name {
    -fx-text-fill: #333333;
    -fx-font-size: 12px;
    -fx-wrap-text: true;
}

.product-price {
    -fx-text-fill: #2E7D32;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.product-currency {
    -fx-text-fill: #2E7D32;
    -fx-font-size: 11px;
}

.selected-card {
    -fx-border-color: #8B4513;      /* màu nâu SaddleBrown */
    -fx-border-width: 2;
    -fx-background-color: #D2B48C;  /* màu nâu nhạt Tan */
}

.selected-card .label-title {
    -fx-text-fill: #8B4513;         /* màu nâu SaddleBrown */
}
